body{
    text-align: center;
    
}
nav{
    background-color: blueviolet;
    border: 1px blueviolet solid;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
}
a{
    background-color: darkviolet;
    color: white;
    text-decoration: none;
    border: 1px darkviolet solid;
    border-radius: 5px;
}

table{
    align-items: center;
    margin-left: auto;
    margin-right: auto
}

th{
    font-weight: bolder;
    background-color: darkblue;
    color: white;
}

tr:nth-child(even){
    background-color: #ccc;
}